* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  background-color:var(--day-color);
}
:root {
  --night-color: #000000;
  --day-color: #ffff;
}
.dark-mode {
  --night-color: #ffff;
  --day-color: #000000;
}
body {
  border-top: 8px solid var(--day-color);
  width: 100%;
  scroll-behavior: smooth;
 

}



.section-p1 {
  padding: 1% 7% !important;
}
.section-m1 {
  margin: 10% 0 !important;
}
nav {
  width: 100%;
}
.navbar .navbar-brand {
  font-family: "Manrope", sans-serif;
  color: var(--night-color);
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
}
.navbar-nav {
  position: relative;
}
.navbar-nav a {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: var(--night-color);
  margin-left: 20px;
}
.navbar-nav a img{
  width: 25px;
  height: 25px;
  
}

.navbar-nav a:hover {
  background-color: var(--night-color);
  color: var(--day-color);
  border-radius: 3px;
}

#home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  position: relative;
   
}
#home h1 {
  font-family: "DotGothic16", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 65px;
  color: var(--night-color);
}
#home span {
  width: 35px;
  height: 5px;
  background-color: var(--night-color);
  margin-top: 40px;
  font-family: "DotGothic16", sans-serif;
}

@media (max-width: 830px) {
  body {
    overflow-x: hidden;
  }
  #home {
    width: 100%;
    height: 50vh;
  }
  #home h1 {
    font-size: 45px;
  }
}
@media (max-width: 477px) {
  body {
    overflow-x: hidden;
  }
  #home {
    width: 100%;
    height: 50vh;
  }
  #home h1 {
    font-size: 25px;
  }
}
#project .title {
  text-align: end;
}
.title h1 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
  position: relative;
  color: var(--night-color);
}
#project .title h1::after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 0px;
  width: 90px;
  height: 7px;
  background-color: var(--night-color);
}
.first-row {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;
}

.project-container .box {
  display: flex;
  width: 45%;

  align-items: center;
  justify-content: space-around;
}
.project-container .box:hover {
  box-shadow: 2px 2px 8px var(--night-color);
}

.project-container .left {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-direction: column;
  width: 233px;
  height: 200px;
  background-color: rgb(216, 216, 216);
  border-radius: 4px;
}
.project-container .left img {
  width: 200px;
}
.project-container .left .left-text {
  display: flex;
  background-color: rgb(132, 132, 132);
  padding: 4px;
}
.project-container .left .left-text p {
  padding: 2px 5px;
  margin: 0px 10px;
  background-color: var(--day-color);
  color: var(--night-color);
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 11px;
}
.project-container .right {
  padding-left: 10px;
}
.project-container .right h2 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  color: var(--night-color);
}
.project-container .right p {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: var(--night-color);
}
.project-container .right button {
  font-family: "Manrope", sans-serif;
  padding: 3px 4px;
  font-weight: 300;
  font-size: 15px;
  border: none;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  color: ;
  background-color: rgb(236, 236, 236);
}

@media (max-width: 830px) {
  .project-container .box {
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin: 40px 0px;
  }
  .project-container .right {
    margin-left: 0px;
    margin-top: 20px;
  }
}
@media (max-width: 477px) {
  .project-container .box {
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin: 40px 0px;
  }
  .project-container .right {
    margin-left: 0px;
    margin-top: 20px;
  }
}

#about .title h1::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0px;
  width: 90px;
  height: 7px;
  background-color: var(--night-color);
}

.img-bio {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img-bio .img img {
  width: 70%;
  height: 70%;
  border-radius: 100%;
}
.img-bio .bio {
  width: 70%;
  color: var(--night-color);
}
.img-bio .bio button {
  font-family: "Manrope", sans-serif;
  padding: 5px 8px;
  font-weight: 300;
  font-size: 15px;
  border: none;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);

  background-color: rgb(236, 236, 236);
}

@media (max-width:831px){
.img-bio {
  flex-direction: column;
  text-align: center;
}
.img-bio .bio {
    width: 80%;
    margin-top: 40px;
  }
}
@media (max-width:477px){
   .img-bio {
  flex-direction: column;
  text-align: center;
} 
.img-bio .bio {
    width: 80%;
    margin-top: 40px;
  }
}

.about-skils{
    display: flex;
    justify-content: space-around;
    
}
.about-skils ul{
    height: 190px;
    border-left: 2px solid var(--night-color);
}
.about-skils ul li{
    font-size: 1rem;
    list-style: none;
    color: var(--night-color);
}
.about-skils ul li h5{
  font-size: 1.5rem;
  list-style: none;
  color: var(--night-color);
  font-weight: 1000;
}
#contact{
    padding: 5% 0;
}
#contact .title{
    text-align: center;
    width: 20%;
    margin: auto;

}
#contact .title h1::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 70px;
    width: 90px;
    height: 7px;
    
    background-color: var(--night-color);
  }
  #contact .icons{
    margin-top: 40px;
    text-align: center;
    font-size: 40px;

  }
  #contact .icons a{
   margin: 0px 20px;

  }
  #contact .icons a .fa-linkedin{
    color: blue;
 
   }
   #contact .icons a .fa-github{
    color:var(--night-color)
 
   }

   #contact .icons a .fa-envelope{
    color: var(--night-color);
   }
   @media (max-width:831px){
    #contact .title{
        text-align: center;
        width: 30%;
        margin: auto;
    
    }
    #contact .title h1::after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 70px;
        width: 90px;
        height: 7px;
        
        background-color: var(--night-color);
      }
   }
   @media (max-width:477px){
    #contact .title{
        text-align: center;
        width: 50%;
        margin: auto;
    
    }
    #contact .title h1::after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 50px;
        width: 90px;
        height: 7px;
        
        background-color: var(--night-color);
      }
   }